<div class="container">
<div class="row">
<div class="col-md-5 col-md-offset-3">
<div class="form-group" align="center">
  <fieldset>
    <legend align="center"><h2>Por favor, introduzca sus datos</h2></legend>
    <br>
    <%= render 'form', pedido: @pedido %>
  </fieldset>
</div>
</div>
</div>
</div>