<style>

  Body { background-image: url(<%=asset_path 'educ9.jpg' %>) }
h1{
 color: #1c699d;
}


</style>


<body >
<div>
  <br>
  <br>
  <br>
</div>

<div class="container well ">
  <h1>
    Libreria<span style="color:#7ADEFE">EDUCARE</span>
  </h1>

</div>

  <div class="container ">
   <br>

  </div>

<div class="container well">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h2 style="display: inline">LIBRERÍA EDUCARE:</h2>
      </div>

      <p class="titulos"> NOS DEDICAMOS A LA VENTA Y DISTRIBUCIÓN DE LIBROS EN GENERAL, ENCICLOPEDIAS Y MAS.</p>
      <img src="<%=asset_path 'educ8.jpg' %>" alt="logo de linux" class="img-circle" width="304px" height="236px">
    </div>


    <div class="col-md-4">
      <div class="page-header">
        <h2>Nuestras Direcciones </h2>
      </div>
      <p>
        Dolores Hidalgo C.I.N
        Chihuahua #58
        (418)1828216

      </p>

    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h2>Contactanos</h2>
      </div>



        <a href="http://www.facebook.com/profile.php?id=100006375364075" target="_blank"><img title="Siguenos en Facebook" src="https://lh3.googleusercontent.com/-NSLbC_ztNls/T6VX0g6z8AI/AAAAAAAAA0A/_vyIBrmZbuY/s48/facebook48.png" width=48 height=48  /></a>
      <a href="http://www.facebook.com/profile.php?id=100006375364075" target="_blank"><img title="Siguenos en Facebook" src="https://lh3.googleusercontent.com/-NSLbC_ztNls/T6VX0g6z8AI/AAAAAAAAA0A/_vyIBrmZbuY/s48/facebook48.png" width=48 height=48  /></a>







    </div>


  </div>

</div>
</body>