<p id="notice"><%= notice %></p>

<p>
  <strong>Editorial name:</strong>
  <%= @editorial.editorial_name %>
</p>

<%= link_to 'Edit', edit_editorial_path(@editorial) %> |
<%= link_to 'Back', editorials_path %>
